<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.promo.dal.persistence.PromoItemMapper">
    <resultMap id="BaseResultMap" type="com.mall.promo.dal.entitys.PromoItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ps_id" jdbcType="INTEGER" property="psId"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice"/>
        <result column="item_stock" jdbcType="INTEGER" property="stockNum"/>
    </resultMap>

    <sql id="BaseColumns">
        id,ps_id,item_id,seckill_price,item_stock
    </sql>
    <update id="updateStock" parameterType="map">
        update tb_promo_item
        set item_stock = item_stock - #{num}
        where ps_id = #{psId}
          and item_id = #{itemId}
          and item_stock > 0
    </update>
    <select id="selectPromoItemInfoDtoByPsId" resultType="com.mall.promo.dto.PromoItemInfoDto" parameterType="long">
        select p.item_id       as id,
               p.seckill_price as seckillPrice,
               p.item_stock    as inventory,
               q.title         as productName,
               q.image         as picUrl,
               q.price         as price
        from tb_promo_item as p
                 left join tb_item as q on p.item_id = q.id
        where p.ps_id = #{psId}
    </select>
</mapper>